h1 Generate new code for #{current_user.phone}
br
h5 in this form you will enable the second factor autentication for the number
br
h5 if you want to modify your phone
br
=link_to 'click here to change your phone number', profile_path(current_user.profile)
br


h1 enter the sms received
= form_tag otp_validate_path do
  p
    = text_field_tag :code
    = submit_tag "Activate 2fa"

br
h5 Generate a new code,
= link_to 'click here to send a code', otp_generate_path
